.donation-title {
  width: fit-content;
}

.izae {
  color: var(--green);
  width: fit-content;
  font-weight: 900;
  opacity: 1;
  animation: left-to-right 2s;
}

@keyframes left-to-right {
  from {
    transform: translate(-50%);
    opacity: 0;
  }
  to {
    transform: translate(0);
  }
}
