@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

.oui {
  min-height: 100vh;
  font-family: Quicksand, sans-serif;
  /* height: 10000px; */
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  color: var(--green);
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
